require('plugins')
require('lsp')

vim.wo.number = true
vim.wo.relativenumber = true

-- require("catppuccin").setup({
-- 	background = {
-- 		light = "latte",
-- 		dark = "frappe",
-- 	},
-- })


{{ if eq .chezmoi.os "darwin" }}
local dn = require('dark_notify')
dn.run({
	schemes = {
		dark  = {
			colorscheme = "ayu",
			background = "dark",
		},
		light = {
			colorscheme = "ayu",
			background = "light",
		}
	},
})
{{ else }}
vim.cmd.colorscheme("ayu")
{{ end }}


function map(mode, lhs, rhs, opts)
	local options = { noremap = true }
	if opts then
	options = vim.tbl_extend("force", options, opts)
	end
vim.api.nvim_set_keymap(mode, lhs, rhs, options)
	end

	-- require('horloge_nvim')

	-- Telescope
	local actions = require('telescope.actions')
	local telescope = require('telescope')
	telescope.load_extension('lsp_handlers')
	telescope.setup{
		defaults = {
			file_ignore_patterns = {"./node_modules/*", "node_modules", "^node_modules/*", "node_modules/*"},
			mappings = {
				n = {
					["q"] = actions.close
				},
			},
		}
	}


-----------------------------------------------------------
--                    KEYBINDINGS                        --
-----------------------------------------------------------
-- Copy / Paste from and to system clipboard
map('v', '<leader>y', '"+y')
map('n', '<leader>p', '"+p')
map('n', '<leader>yy', '"+yy')

-- Telesecope
map('n', '<leader>ff', '<cmd>Telescope find_files<cr>')
map('n', '<leader>fg', '<cmd>Telescope live_grep<cr>')
map('n', '<leader>fb', '<cmd>Telescope buffers<cr>')
map('n', '<leader>fh', '<cmd>Telescope help_tags<cr>')

local opts = { noremap = true, silent = true }

map('n', '<C-u>', '<C-u>zz', opts)
map('n', '<C-d>', '<C-d>zz', opts)
map('n', '<C-i>', '<C-i>zz', opts)
map('n', '<C-o>', '<C-o>zz', opts)
map('n', '{', '{zz', opts)
map('n', '}', '}zz', opts)

