[user]
	signingkey = 364DB5629CA4EE0F
	name = Simon Ganon
	email = simon@blueboard.io
[commit]
	gpgsign = true
[url "ssh://git@git.blueboard.io/"]
	insteadOf = https://git.blueboard.io/
[pull]
	rebase = true
