[user]
	signingkey = {{ .git_gpg }}
	name = Simon Ganon
	email = simon.ganon@channeladvisor.com
[commit]
	gpgsign = true
[url "ssh://git@git.blueboard.io/"]
	insteadOf = https://git.blueboard.io/
[pull]
	rebase = true
