# Go setup
export GOPATH=~/go
export GO111MODULE=on

export PATH=$PATH:$HOME$GOPATH/bin

alias vim="nvim"
alias bbvault='eval $(~/.config/secrets/bb_vault.sh set)'
alias bbvault_unset='eval $(~/.config/secrets/bb_vault.sh unset)'
alias gltoken='eval $(~/.config/secrets/gltoken)'

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
