source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
{{ if eq .chezmoi.os "darwin" }}
eval "$(~/homebrew/bin/brew shellenv)"
{{ end }}


export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion


{{ if eq .chezmoi.os "darwin" }}
export PATH="/Users/sganon/homebrew/opt/postgresql@15/bin:$HOME/Library/Python/3.9/bin:$PATH"
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/Users/sganon/miniconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/Users/sganon/miniconda3/etc/profile.d/conda.sh" ]; then
        . "/Users/sganon/miniconda3/etc/profile.d/conda.sh"
    else
        export PATH="/Users/sganon/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

{{ end }}
export PATH=$PATH:$(yarn global bin):$HOME/go/bin
export GOPRIVATE=git.y2m.io

source ~/.aliasrc

# bun completions
[ -s "/Users/sganon/.bun/_bun" ] && source "/Users/sganon/.bun/_bun"

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"
