; # vim: set syntax=dosini:
include-file = ~/.config/polybar/colors.ini
include-file = ~/.config/polybar/layout.ini

[bar/hidpi]
width=100%
height=2.3%
padding=2
override-redirect = false
wm-restack = bspwm

monitor = ${env:MONITOR:eDP1}

background = ${colors.bg}

{{- if eq .chezmoi.hostname "laptop" }}
font-0 = "FiraMono Nerd Font:size=14;2"
font-1 = "FiraMono Nerd Font:size=14;2"
font-2 = "FiraMono Nerd Font:size=18;3"
font-3 = "FiraMono Nerd Font:style=bold:size=16;2"
{{- end}}
{{- if eq .chezmoi.hostname "workstation"}}
font-0 = "FiraMono Nerd Font:size=14;2"
font-1 = "FiraMono Nerd Font:size=14;2"
font-2 = "FiraMono Nerd Font:size=18;3"
font-3 = "FiraMono Nerd Font:style=bold:size=14;2"
{{- end}}
modules-left = bspwm
modules-right = network-icon network filesystem pulseaudio cpu memory battery date

[bar/lodpi]
width=100%
height=1.9%
padding=2
override-redirect = false
wm-restack = bspwm

monitor = ${env:MONITOR:eDP1}

background = ${colors.bg}

{{- if eq .chezmoi.hostname "laptop" }}
font-0 = "FiraMono Nerd Font:size=11;3"
font-1 = "FiraMono Nerd Font:size=11;3"
font-2 = "FiraMono Nerd Font:size=14;4"
font-3 = "FiraMono Nerd Font:style=bold:size=12;3"
{{- end}}
{{- if eq .chezmoi.hostname "workstation"}}
font-0 = "FiraMono Nerd Font:size=11;2"
font-1 = "FiraMono Nerd Font:size=11;2"
font-2 = "FiraMono Nerd Font:size=14;3"
font-3 = "FiraMono Nerd Font:style=bold:size=12;2"
{{- end}}
modules-left = bspwm
modules-right = network-icon network filesystem pulseaudio cpu memory battery date



[module/date]
type = internal/date
interval = 10.0
label-font = 4
label-padding-left = ${layout.outer-padding}
date = %H:%M
date-alt = %Y/%m/%d

[module/battery]
type = internal/battery
full-at = 99
battery = BAT0
adapter = AC
poll-interval = 5
label-full-font = 4
format-full = <label-full>
label-full = %percentage%%
label-charging-font = 4
format-charging = <ramp-capacity> <label-charging>
label-charging = ﮣ %percentage%%
format-discharging = <ramp-capacity> <label-discharging>
label-discharging = %percentage%%
label-discharging-font = 4
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 


[module/network]
type = custom/script
exec = ~/.config/polybar/check_network.sh ssid
label-font = 4
label-padding-right = ${layout.outer-padding}
tail = true
interval = 5
click-left = networkmanager_dmenu &
click-middle = networkmanager_dmenu &
click-right = networkmanager_dmenu &

[module/network-icon]
type = custom/script
exec = ~/.config/polybar/check_network.sh icon
label-padding-right = ${layout.inter-padding}
label-font = 2
tail = true
interval = 5


[module/bspwm]
type = internal/bspwm
pin-workspaces = true
inline-mode = false
enable-click = false
enable-scroll = false
reverse-scroll = false
ws-icon-0 = term;
ws-icon-1 = web;
ws-icon-2 = mail;
ws-icon-3 = calendar;
ws-icon-4 = spotify;
ws-icon-5 = slack;
ws-icon-6 = 3;3
ws-icon-7 = 4;4
ws-icon-8 = 5;5
ws-icon-9 = 6;6
ws-icon-default = 

label-focused = %icon%
label-focused-font = 3
label-focused-padding = ${layout.inter-padding}
label-focused-foreground = ${colors.orange}

label-occupied = %icon%
label-occupied-font = 2
label-occupied-padding = ${layout.inter-padding}

label-urgent = %icon%
label-urgent-font = 3
label-urgent-padding = ${layout.inter-padding}
label-urgent-foreground = ${colors.warning}

label-empty = 

[module/pulseaudio]
type = internal/pulseaudio
sink =
use-ui-max = false
interval = 5
label-volume-font = 4
label-volume = %percentage%%
#label-volume-padding-left = ${layout.outer-padding}
label-muted-font = 4
label-muted = %percentage%%
#label-muted-foreground = ${colors.red}
label-muted-padding-left = ${layout.outer-padding}
format-volume = <ramp-volume> <label-volume>
format-muted = <ramp-volume> <label-muted>
format-volume-padding-right = ${layout.outer-padding}
format-muted-padding-right = ${layout.outer-padding}
ramp-volume-0 = 
ramp-volume-1 = 墳
ramp-volume-2 = 

[module/memory]
type = internal/memory
interval = 1
format = <label>
label =  %percentage_used%%
label-padding-left = ${layout.outer-padding}
label-padding-right = ${layout.outer-padding}
label-font = 4

[module/cpu]
type = internal/cpu
interval = 1
format = <label>
label =  %percentage%%
label-padding-left = ${layout.outer-padding}
label-font = 4

[module/filesystem]
type = internal/fs
mount-0 = /
interval = 10
fixed-values = true
format-mounted = <label-mounted>
label-mounted =  %percentage_used%%
label-mounted-font = 4
label-mounted-padding-right = ${layout.outer-padding}
