#!/usr/bin/env bash
# Usage:
#  - eval $(~/.bb_vault.sh set)
#  - eval $(~/.bb_vault.sh unset)
if [ "$1" == "bb"  ]; then
	echo '
	export VAULT_ADDR="https://vault.blueboard.io/"
	export VAULT_TOKEN="{{ (bitwarden "item" "bb_vault_token").notes }}"
	'
if [ "$1" == "y2m"  ]; then
	echo '
	export VAULT_ADDR="https://vault.y2m.io/"
	export VAULT_TOKEN="{{ (bitwarden "item" "y2m_vault_token").notes }}"
	'
elif [ "$1" == "unset" ]; then
	echo "unset VAULT_ADDR
	unset VAULT_TOKEN"
else
	echo "Arg available is set or unset"
fi
